%td{colspan: 8}
  = form_for object, url: object.new_record? ? versions_path : version_path(object),
                     remote: true, html: {class: "form-horizontal"} do |f|
  %p
    Path:
      = f.text_area :path
  %p
    Russian
      = f.text_area :str_ru
  %p
    English
      = f.text_area :str_en
  %p
    German
      = f.text_area :str_de
  %p
    French
      = f.text_area :str_fr
  %p
    Turkish
      = f.text_area :str_tr
  .actions
    = f.submit "Save", class: "btn btn-primary"
  %button.btn.btn-link.cancel Cancel